### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
rebel.xml

### project ignore ###
/.gradle/
/out
/bin/
/.project
/.classpath
/.settings
/build